*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ff00aa;
}

main{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    height: 500px;
}

.item{
    width: 200px;
    background-color: blue;
}

.item:nth-child(1){
    background-color: aqua;
    order: 3;
}

.item:nth-child(2){
    background-color: gold;
    order: 2;
    /* flex: 1 1 200px; */
}

.item:nth-child(3){
    background-color: yellow;
    order: 1;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .flex-item {
    background-color: red;
    height: 200px;
    width: 40%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

