* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  margin: 5rem 2rem;
}

.content {
  text-align: center;
}

#para {
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.image {
  border-radius: 50%;
  width: 10rem;
}

.link {
  margin-top: 0.4rem;
}

a {
  background-color: aliceblue;
  text-decoration: none;
  border: 0.2rem solid #fff;
  padding: 0.5rem;
}

a:hover {
  background-color: #00ff;
  color: #fff;
}
